<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] (%37c:%L) - %m%n" />
        </layout>
    </appender>

    <appender name="MONTEREY" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/Library/Logs/MONTEREY.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="1MB" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%t %-5p %c{2} - %m%n"/>
        </layout>
    </appender>

    <logger name="org.hibernate">
        <level value="ERROR" />
    </logger>

    <logger name="org.springframework">
        <level value="ERROR" />
    </logger>

    <logger name="us.kulba.monterey">
        <level value="DEBUG" />
    </logger>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="MONTEREY" />
    </root>

</log4j:configuration>